In [1]:
import numpy as np
import pandas as pd
import yfinance as yf

In [2]:
vti = yf.Ticker('vti')
spy = yf.Ticker('spy')

In [3]:
df = spy.history(period='1y')
df.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-06-29,381.230011,382.269989,378.420013,380.339996,65676000,0.0,0
2022-06-30,376.239990,380.660004,372.559998,377.250000,112508300,0.0,0
2022-07-01,376.559998,381.700012,373.799988,381.239990,74792100,0.0,0
2022-07-05,375.880005,381.980011,372.899994,381.959991,81438000,0.0,0
2022-07-06,382.109985,385.869995,379.600006,383.250000,64544257,0.0,0

In [4]:
df2 = vti.history(period='1y')
df2.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-06-29,190.789993,191.179993,189.179993,190.259995,4155800,0.0,0
2022-06-30,188.000000,190.309998,186.130005,188.619995,4250300,0.0,0
2022-07-01,188.190002,190.869995,186.899994,190.610001,3221600,0.0,0
2022-07-05,188.360001,191.309998,186.360001,191.289993,3986100,0.0,0
2022-07-06,191.289993,192.850006,189.880005,191.669998,2928723,0.0,0

In [6]:
df["Ticker"] =  "SPY"
df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Ticker
Date,,,,,,,,
2021-07-07,427.580673,428.665258,425.460819,428.369446,63549500,0.0,0,SPY
2021-07-08,422.769075,425.677732,421.526729,424.879089,97595200,0.0,0,SPY
2021-07-09,426.466476,429.730072,424.671983,429.414551,76238600,0.0,0,SPY
2021-07-12,429.325835,431.218932,428.872292,430.952698,52889600,0.0,0,SPY
2021-07-13,430.124494,431.702070,429.207538,429.483612,52911300,0.0,0,SPY

In [8]:
df2["Ticker"] =  "VTI"
df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Ticker
Date,,,,,,,,
2021-07-07,427.580673,428.665258,425.460819,428.369446,63549500,0.0,0,SPY
2021-07-08,422.769075,425.677732,421.526729,424.879089,97595200,0.0,0,SPY
2021-07-09,426.466476,429.730072,424.671983,429.414551,76238600,0.0,0,SPY
2021-07-12,429.325835,431.218932,428.872292,430.952698,52889600,0.0,0,SPY
2021-07-13,430.124494,431.702070,429.207538,429.483612,52911300,0.0,0,SPY

In [7]:
df3 = pd.concat([df,df2], axis = 0)
df3.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Ticker
Date,,,,,,,,
2021-07-07,427.580673,428.665258,425.460819,428.369446,63549500,0.0,0,SPY
2021-07-08,422.769075,425.677732,421.526729,424.879089,97595200,0.0,0,SPY
2021-07-09,426.466476,429.730072,424.671983,429.414551,76238600,0.0,0,SPY
2021-07-12,429.325835,431.218932,428.872292,430.952698,52889600,0.0,0,SPY
2021-07-13,430.124494,431.702070,429.207538,429.483612,52911300,0.0,0,SPY